

.container {
    background-color:#05445E;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 4px 4px 4px rgba(202, 192, 192, 0.2);
   
}

.pannel .container {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    width: 150px;
    max-width: 150px;
    padding: 4px 12px;
    border: 1px solid black; 
    border-radius: 4px;
   
  }

.pannel .container .colorpicker {
    border:none;
    width: 80%;
    font-size: 14;
    color:'red';
    margin-left: 10px;
}


.col-md-6:first-child {
    background-color: blue;
  }
