.image-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    display: none;
    
}

.custom_file_upload {
    border: 1px solid #61dafb;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 2;
    cursor: pointer;
    color:white;
    background-color: #61dafb;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}
